.daterangepicker {
    .quarter {
        position: relative;
        padding: 3px 12px;
        background: #f5f5f5;
        height: 27px;
        margin-bottom: 8px;
        color: #08c;
        border-radius: 3px;
        font-size: 13px;
        cursor: pointer;
    }

    .quarter-picker {
        float: left;
        padding: 8px 16px;
        display: none;
        width: 400px;
        height: 300px;

        h5 {
            padding: 0;
            margin: 0;
            font-size: 14px;
        }

        ol {
            display: block;
            margin: 0;
            padding: 0;
            li {
                padding: 0 0 8px 0;
                list-style: none;

                div {
                    margin-top: 8px;
                    display: flex;
                    height: 28px;
                    line-height: 28px;

                    span {
                        flex: 1;
                        text-align: center;
                        color: #999;
                        background: #f5f5f5;
                        border-radius: 3px;
                        font-size: 13px;

                        + span {
                            margin-left: 2px;
                        }

                        &.disabled {
                            color: #aaa;
                            cursor: not-allowed;
                            text-decoration: line-through;
                        }

                        &:not(.disabled):hover {
                            color: #fff;
                            background: rgb(0, 136, 204);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &.show-calendar {
        .quarter-picker {
            display: none !important;
        }
    }

    &.show-quarter-picker {
        .quarter-picker {
            display: block;
        }

        .quarter {
            color: #fff;
            background: rgb(0, 136, 204);
            border: 1px solid rgb(0, 136, 204);
        }
    }
}



